:root {
  scrollbar-width: thin !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

a:active,
a:focus {
  border: none;
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.woff") format("woff"),
    url("../../fonts/Lato-Regular.woff") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Bold.woff") format("woff"),
    url("../../fonts/Lato-Bold.woff") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff") format("woff"),
    url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.woff") format("woff"),
    url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.woff") format("woff"),
    url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

img {
  max-width: none;
}

main {
  font-family: Roboto, sans-serif;
}

.button {
  background-color: #ff9900;
  width: 220px;
  height: 49px;
  border: none;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

#hamburger-icon {
  width: 100px;
  height: 50px;
  position: relative;
  z-index: 99999;
  display: none;
}
#hamburger-icon .line {
  display: block;
  background: #ecf0f1;
  width: 100px;
  height: 8px;
  position: absolute;
  left: 0;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
#hamburger-icon .line.line-1 {
  top: 0;
}
#hamburger-icon .line.line-2 {
  top: 50%;
}
#hamburger-icon .line.line-3 {
  top: 100%;
}
#hamburger-icon:hover .line-1,
#hamburger-icon:focus .line-1 {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
}
#hamburger-icon:hover .line-3,
#hamburger-icon:focus .line-3 {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
}
#hamburger-icon.active .line-1 {
  transform: translateY(25px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(25px) translateX(0) rotate(45deg);
  -moz-transform: translateY(25px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
  opacity: 0;
}
#hamburger-icon.active .line-3 {
  transform: translateY(-25px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-25px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-25px) translateX(0) rotate(-45deg);
}

.menu-wrapper {
  margin-left: 29px;
  display: none;
}

#header-menu {
  width: 30px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#header-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #00c3bc;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#header-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#header-menu span:nth-child(2) {
  top: calc(50% - 1px);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#header-menu span:nth-child(3) {
  bottom: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#header-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}
#header-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#header-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% + 9px);
  left: calc(50% - 12px);
}

.drop-menu {
  width: 213px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 7px rgba(148, 183, 197, 0.25);
  position: absolute;
  top: 58px;
  z-index: 20;
  display: none;
  padding: 17px;
}
.drop-menu.open {
  display: block;
}
.drop-menu .top-drop__item + .top-drop__item {
  margin-top: 15px;
}
.drop-menu .top-drop__link {
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #3d4e67;
}
.drop-menu .top-drop__link_premium {
  color: #ff9900;
}
.drop-menu .drop-menu__line {
  height: 1px;
  background-color: #dadada;
  margin: 15px 0;
}
.drop-menu .language-drop__title {
  font-size: 15px;
  line-height: 18px;
  color: #3d4e67;
}
.drop-menu .language-drop__body {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.drop-menu .language-drop__wrapper {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.drop-menu .language-drop__wrapper.current {
  border: 1px solid #00c3bc;
}
.drop-menu .language-drop__wrapper + .language-drop__wrapper {
  margin-left: 15px;
}
.drop-menu .language-drop__flag {
  width: 30px;
}
.drop-menu .language-drop__text {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #3d4e67;
  margin-left: 7px;
}
.drop-menu .bottom-drop__item + .bottom-drop__item {
  margin-top: 15px;
}
.drop-menu .bottom-drop__link {
  display: flex;
  align-items: center;
}
.drop-menu .bottom-drop__text {
  margin-left: 15px;
  color: #3d4e67;
}

.header-language {
  position: relative;
}
.header-language__menu {
  display: none;
}
.header-language .menu-language__title {
  font-size: 18px;
  line-height: 22px;
  color: #3d4e67;
  text-align: center;
}
.header-language .menu-language__list {
  margin-top: 25px;
}
.header-language .menu-language__item:hover {
  background-color: #f4f4f4;
  border-radius: 11px;
}
.header-language .menu-language__item + .menu-language__item {
  margin-top: 15px;
}
.header-language .menu-language__link {
  display: flex;
  align-items: center;
  padding-left: 18px;
}
.header-language .menu-language__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #3d4e67;
  margin-left: 19px;
}

.header-language.active .header-language__menu {
  display: block;
  width: 189px;
  height: 191px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: "";
  left: -65px;
  top: 51px;
  border-radius: 0 0 4px 4px;
  padding: 14px 11px 26px 8px;
}

.overflow {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .menu-wrapper {
    display: block;
  }
}
.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: none;
}
.popup__overlay {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: none;
  opacity: 0;
}
.popup__body {
  margin-top: -210px;
  max-width: 375px;
  width: 100%;
  padding: 37px 23px 31px 23px;
  border-radius: 7px;
  box-shadow: 0px 0px 29px rgba(196, 210, 230, 0.42);
  background-color: #fff;
  position: absolute;
  display: none;
  opacity: 0;
}
.popup__cross {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.popup__heading {
  text-align: center;
  font-size: 21px;
  line-height: 25px;
  color: #36467e;
}
.popup .socials-popup {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}
.popup .socials-popup__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 139px;
  margin: 15px auto 0 auto;
}
.popup .socials-popup__text {
  margin-top: 15px;
  display: block;
}
.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popup__input {
  height: 45px;
  border-radius: 4px;
  padding-left: 10px;
}
.popup__input + .popup__input {
  margin-top: 30px;
}
.popup__email {
  border: 1px solid #bdbdbd;
  background-color: #f7faff;
  color: #333333;
  margin-top: 15px;
}
.popup__submit {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  background-color: #ff940d;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.popup .terms-popup {
  text-align: center;
  margin-top: 12px;
}
.popup .terms-popup__text {
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
}
.popup .terms-popup__link {
  font-size: 14px;
  line-height: 17px;
  color: #00c3bc;
}
.popup.active {
  display: flex;
}

.slick-list {
  overflow: hidden;
  max-width: 500px;
  width: 100%;
}

.slick-track {
  display: flex;
  column-gap: 40px;
}

.slick-slider {
  position: relative;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70px;
  width: 100%;
  position: absolute;
  left: calc(50% - 35px);
  bottom: -63px;
}
.slick-dots .slick-active button {
  background-color: #ff940d;
}

@media screen and (max-width: 450px) {
  .slick-dots {
    bottom: -30px;
  }

  .slick-list {
    max-width: 100vw;
  }
}
.slick-dots li button {
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 13px;
  height: 13px;
  background-color: #e3e4eb;
  border: none;
  border-radius: 50%;
}

.results {
  margin-top: 50px;
  padding-bottom: 50px;
}
.results__inner {
  padding: 28px 25px 62px;
  background-color: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
}
.results__title {
  color: #36467e;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.results .levels {
  margin-top: 30px;
}
.results .levels__list {
  display: flex;
  align-items: center;
  gap: 19px;
}
.results .levels__item {
  flex: 0 1 25%;
  text-align: center;
}
.results .levels .level__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.results .levels .bars {
  display: flex;
  align-items: center;
  margin: 22px;
  gap: 6px;
}
.results .levels .bars .bar {
  flex: 0 1 33%;
  height: 6px;
  border-radius: 25px;
  background-color: #f1f1f1;
}
.results .levels .bars .bar_correct {
  background-color: #00c3bc;
}
.results .levels .bars .bar_incorrect {
  background-color: #ff940d;
}
.results .award {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.results .award__wrapper {
  margin-top: 60px;
}
.results .award .award-top {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "icon text" "icon button";
  gap: 0px 43px;
}
.results .award .award-top__left {
  grid-area: icon;
}
.results .award .award-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 144px;
  margin-left: 43px;
}
.results .award .award-right__knowledge.knowledge {
  grid-area: text;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.results .award .award-right__knowledge.knowledge .knowledge__text {
  margin-top: 10px;
}
.results .award .award-right__knowledge.knowledge .knowledge__result {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.results .award .award-right__knowledge.knowledge .knowledge__level {
  margin-left: 23px;
}
.results .award .award-right__knowledge.knowledge .knowledge__status {
  color: #ff9900;
}
.results .award .award-right__start {
  grid-area: button;
  margin-top: auto;
}
.results .award .body-award {
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
  color: #5c5c5c;
}
.results .award .body-award__text {
  margin-top: 20px;
}
.results .award .body-award__wrapper {
  margin-top: 30px;
}
.results .award .body-award__results {
  color: #36467e;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.answers {
  display: none;
  margin-top: 56px;
  padding-bottom: 57px;
}
.answers.show {
  display: block;
}
.answers__list {
  counter-reset: counter;
  max-width: 600px;
  margin: 0 auto !important;
}
.answers__item + .answers__item {
  margin-top: 56px;
}
.answers__item {
  counter-increment: counter;
  position: relative;
}
.answers__item::before {
  content: counter(counter);
  background-color: #f7faff;
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.answers__item .item__status__heading {
  display: flex;
  align-items: center;
}
.answers__item .item__status__heading_correct {
  margin-top: 25px;
}
.answers__item .item__status .icon {
  margin-left: 17px;
  width: 20;
}
.answers__item .item__status .explanation {
  margin-top: 15px;
  color: #5c5c5c;
  font-size: 16px;
  line-height: 19px;
}
.answers__item .item__status .explanation__text {
  font-size: 18px;
  line-height: 21px;
}
.answers__item .item__status .explanation__title {
  font-weight: bold;
}
.answers__item .item__status .title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.answers__item .item__status .title_correct {
  color: #00c3bc;
}
.answers__item .item__status .title_incorrect {
  color: #ff940d;
}
.answers__item .item__status .answer {
  margin-top: 15px;
}
.answers__item .item__status .answer__text {
  font-size: 24px;
  line-height: 28px;
}
.answers__item .item__status .answer_incorrect .mark {
  color: #ff940d;
}
.answers__item .item__status .answer_correct .mark {
  color: #00c3bc;
}

.article {
  margin-top: 65px;
  padding-bottom: 30px;
}
.article__inner {
  display: flex;
  align-items: flex-end;
  gap: 125px;
}
.article__left .italic {
  font-style: italic;
}
.article__left .line {
  height: 3px;
  width: 70px;
  background-color: #00c3bc;
  margin: 25px 0;
}
.article__left .line_center {
  margin: 25px auto;
}
.article__left .article__title {
  font-size: 20px;
  font-weight: 500;
}
.article__left .article__body {
  color: #7b7b7b;
}
.article__left .body-article {
  padding-bottom: 30px;
}
.article__left .body-article__list {
  margin: 25px 0;
  counter-reset: counter;
}
.article__left .body-article__item::before {
  content: "* * *";
  color: #00c3bc;
  margin: 0 15px;
}
.article__left .body-article__item + .body-article__item {
  margin-top: 20px;
}
.article__left .author {
  color: #4f4f4f;
}
.article__left .author__fio {
  margin-top: 5px;
}
.article__left .share {
  color: #4f4f4f;
  margin-top: 15px;
}
.article__right {
  width: 210px;
  height: 445px;
}

.tests_light-blue {
  padding: 42px 0;
  background-color: #f7faff;
}
.tests_light-blue .tests__body {
  background-color: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
  padding: 28px 25px;
}
.tests_light-blue .tests__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #e3e4eb;
}
.tests_light-blue .tests__title {
  color: #36467e;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.tests_light-blue .count-test {
  color: #8b99ca;
  display: flex;
  align-items: center;
}
.tests_light-blue .count-test__current {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ff940d;
  margin-left: 12px;
}
.tests_light-blue .question {
  text-align: center;
}
.tests_light-blue .question__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.tests_light-blue .question__word {
  margin-top: 18px;
}
.tests_light-blue .content {
  margin-top: 28px;
}
.tests_light-blue .content__wrapper {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-top: 28px;
}
.tests_light-blue .content .variants__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 41px 25px;
  max-width: 540px;
  margin: 0 auto;
}
.tests_light-blue .content .variants__item {
  border: 1px solid #e3e4eb;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px 25px;
  flex: 1 1 calc(50% - 30px);
  transition: 0.35s box-shadow, 0.35s color;
  user-select: none;
}
.tests_light-blue .content .variants__item:hover {
  color: #00c3bc;
  box-shadow: 0px 0px 8px rgba(54, 70, 126, 0.13);
}
.tests_dark-blue {
  padding: 42px 0;
  background-color: #8b99ca;
  position: absolute;
  display: none;
}
.tests_dark-blue .tests__wrap {
  background-color: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
}
.tests_dark-blue .tests__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "title count" "text count" "content answers";
  position: relative;
  z-index: 1;
}
.tests_dark-blue .tests__title,
.tests_dark-blue .tests__text,
.tests_dark-blue .tests__content {
  background-color: #f7faff;
}
.tests_dark-blue .tests__title {
  grid-area: title;
  padding: 30px 0 0 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #36467e;
  text-transform: uppercase;
}
.tests_dark-blue .tests__text {
  grid-area: text;
  padding: 11px 0 0 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.tests_dark-blue .tests__content {
  grid-area: content;
  padding: 49px 0 65px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tests_dark-blue .tests__content .content__text {
  font-size: 24px;
  line-height: 28px;
}
.tests_dark-blue .tests__count {
  grid-area: count;
  color: #8b99ca;
  padding-right: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.tests_dark-blue .tests__count .count__current {
  margin-left: 13px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ff940d;
}
.tests_dark-blue .tests__count .count__total {
  font-size: 16px;
  line-height: 19px;
}
.tests_dark-blue .tests__answers {
  grid-area: answers;
  padding-top: 30px;
  margin-left: 43px;
  padding-right: 42px;
  padding-bottom: 65px;
}
.tests_dark-blue .tests__answers .answers-test__list {
  user-select: none;
}
.tests_dark-blue .tests__answers .answers-test__item {
  padding: 8px 25px;
  background: #fff;
  border: 1px solid #e3e4eb;
  border-radius: 2px;
  transition: 0.35s box-shadow, 0.35s color;
}
.tests_dark-blue .tests__answers .answers-test__item + .answers-test__item {
  margin-top: 12px;
}
.tests_dark-blue .tests__answers .answers-test__item:hover {
  box-shadow: 0px 0px 8px rgba(54, 70, 126, 0.13);
  color: #00c3bc;
}
.tests_results {
  background-color: #8b99ca;
}
.tests_results .tests__wrap {
  margin-top: 42px;
  padding-bottom: 42px;
}
.tests_results .tests__body {
  background: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
  padding: 25px;
}
.tests_results .tests__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #e3e4eb;
}
.tests_results .tests__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #36467e;
}
.tests_results .tests__count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8b99ca;
}
.tests_results .tests__count .count__text {
  font-size: 18px;
  line-height: 21px;
}
.tests_results .tests__count .count__current {
  margin-left: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ff940d;
}
.tests_results .tests__count .count__total {
  font-size: 16px;
  line-height: 19px;
  margin-left: 2px;
}
.tests_results .tests__content {
  padding-top: 27px;
  text-align: center;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}
.tests_results .tests__subtitle {
  font-weight: 500;
  display: block;
}
.tests_results .tests__results {
  display: block;
  margin-top: 12px;
}
.tests_results .tests__correct {
  color: #00c3bc;
}
.tests_results .tests__total {
  color: #ff940d;
}
.tests_results .tests__verdict {
  font-weight: 500;
  display: block;
  margin-top: 25px;
}
.tests_results .tests__verdict .verdict__color {
  color: #ff940d;
}
.tests_results .tests__about {
  max-width: 440px;
  color: #5c5c5c;
  margin: 12px auto 0 auto;
}
.tests_results .tests__button {
  margin-top: 25px;
}
.tests_levels {
  margin: 50px 0;
}
.tests_levels .tests__wrap {
  background: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
  padding: 25px;
}
.tests_levels .tests__heading {
  text-align: center;
}
.tests_levels .tests__title {
  font-size: 24px;
  line-height: 28px;
  color: #36467e;
  text-transform: uppercase;
}
.tests_levels .tests__status {
  margin-top: 30px;
}
.tests_levels .tests__status .status__title {
  color: #7b7b7b;
}
.tests_levels .tests__status .status__title_completed {
  color: #333333;
  font-weight: 500;
}
.tests_levels .tests__status .status__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 19px;
}
.tests_levels .tests__status .status__item {
  text-align: center;
  flex: 0 1 25%;
}
.tests_levels .tests__status .status__item .bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 6px;
  margin-top: 22px;
}
.tests_levels .tests__status .status__item .bars .bar {
  height: 6px;
  border-radius: 25px;
  background-color: #f1f1f1;
  flex: 0 1 33.3%;
}
.tests_levels .tests__status .status__item .bars .bar_completed {
  background-color: #00c3bc;
}
.tests_levels .tests__status .status__item .bars .bar_current {
  background-color: #fff;
  border: 1px solid #00c3bc;
}
.tests_levels .tests__content {
  margin-top: 40px;
}
.tests_levels .tests__subtitle {
  font-size: 18px;
  line-height: 21px;
}
.tests_levels .tests__wrapper {
  display: grid;
  grid-template-columns: minmax(330px, auto) minmax(245px, auto);
  margin-top: 22px;
  gap: 15px 35px;
}
.tests_levels .tests__left.left-test {
  background-color: #f7faff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tests_levels .tests__right .right-test__item {
  padding: 15px 25px;
  border: 1px solid #e3e4eb;
  border-radius: 2px;
  transition: color 0.35s, 0.35s box-shadow;
}
.tests_levels .tests__right .right-test__item + .right-test__item {
  margin-top: 12px;
}
.tests_levels .tests__right .right-test__item:hover {
  color: #00c3bc;
  box-shadow: 0px 0px 8px rgba(54, 70, 126, 0.13);
}
.tests_levels .tests__right .right-test__next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 90px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}
.tests_levels .tests__right .right-test__next .next-test__text {
  color: #00c3bc;
}
.tests_levels .tests__right .right-test__next .next-test__arrow {
  margin-left: 10px;
}
.tests__content .content__video {
  max-width: 280px;
  width: 100%;
}

.completed {
  padding-top: 15px;
  padding-bottom: 30px;
}
.completed__line {
  border-bottom: 1px solid #b9d2ff;
}
.completed-slide {
  padding-bottom: 20px;
}
.completed .back-completed__link {
  display: flex;
  align-items: center;
}
.completed .back-completed__text {
  margin-left: 13px;
  color: #333333;
}
.completed-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  padding-bottom: 55px;
}
.completed__section {
  margin-top: 13px;
  padding-bottom: 17px;
}
.completed__section .section-completed__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.completed__section .section-completed__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #bdbdbd;
}
.completed__section .section-completed__item_current {
  color: #333333;
  font-weight: bold;
}
.completed__section .section-completed__item_completed {
  color: #00c3bc;
}
.completed__section .section-completed__item_completed span {
  margin-left: 7px;
}
.completed__heading {
  text-align: center;
}
.completed__heading .heading-completed__wrapper {
  margin-top: 30px;
}
.completed__heading .heading-completed__text {
  display: block;
  margin-top: 8px;
}
.completed__results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 51px;
}
.completed__results .results-completed__achievement {
  position: relative;
  z-index: -1;
  top: 14px;
  left: calc(50% - 50px);
}
.completed__results .results-completed__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 410px;
  width: 100%;
}
.completed__results .results-completed__list_achievement {
  gap: 12px;
  max-width: 474px;
}
.completed__results .results-completed__list_progress {
  justify-content: center;
  max-width: none;
}
.completed__results .results-completed__list_progress .results-completed__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.completed__results .results-completed__item {
  flex: 0 1 33.33%;
  text-align: center;
}
.completed__results .results-completed__item_achievement {
  position: relative;
}
.completed__results .results-completed__subtitle_achievement {
  background: #fff;
  box-shadow: 0px 0px 8px rgba(82, 80, 80, 0.15);
  border-radius: 3px;
  padding: 7px 10px;
  font-size: 12px;
  line-height: 14px;
}
.completed__results .results-completed__line {
  width: 1px;
  height: 46px;
  background-color: #b9d2ff;
}
.completed__results .results-completed__text {
  color: #00c3bc;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 17px;
  display: block;
}
.completed__results .balloon__wrapper {
  flex: 0 0 165px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.completed__buttons {
  margin-top: 22px;
  display: grid;
  grid-template-columns: 1fr 190px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "repeat next" ". timer";
}
.completed__buttons.buttons-completed_premium {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.completed__buttons.buttons-completed_premium .premium {
  color: #ff940d;
}
.completed__buttons.buttons-completed_premium .buttons-completed__transparent {
  width: 110px;
}
.completed__buttons.buttons-completed_premium
  .completed__button_premium
  .button_premium {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  height: 40px;
  border: none;
  color: #fff;
  background-color: #ff940d;
  padding: 11px 21px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 26px auto 0 auto;
}
.completed__buttons .buttons-completed__repeat {
  display: flex;
  align-items: center;
  grid-area: repeat;
}
.completed__buttons .buttons-completed__repeat .repeat-button__text {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-left: 9px;
  display: block;
}
.completed__buttons .buttons-completed__next {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: next;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  height: 40px;
  border: none;
  color: #fff;
  background-color: #00c3bc;
  border-radius: 5px;
  cursor: pointer;
}
.completed__buttons .buttons-completed__arrow {
  margin-left: 10px;
}
.completed__buttons .buttons-completed__autonext {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #99a5b1;
  grid-area: timer;
  margin-top: 7px;
}
.completed [aria-hidden="true"] .heading-completed__left,
.completed [aria-hidden="true"] .heading-completed__right {
  display: none;
}
.completed [aria-hidden="true"] .results-completed__balloon {
  opacity: 0;
}
.completed [aria-hidden="false"] .results-completed__balloon {
  opacity: 1;
}

.chat {
  display: none;
}
.chat.in {
  display: block;
}
.chat__bg {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.chat__body {
  background: #f5f5f5;
  border-radius: 9px;
  position: absolute;
  top: 72px;
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 60px auto minmax(81px, auto);
  grid-template-areas: "themes author" "themes messages" "themes chat";
  gap: 12px 15px;
  padding-right: 15px;
  margin-right: 15px;
}
.chat__left {
  padding: 25px 15px 25px 10px;
  grid-area: themes;
  background-color: #fff;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.chat__left .left-chat__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2c2c2c;
}
.chat__left .left-chat__body {
  margin-top: 41px;
}
.chat__left .left-chat__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-left: 16px;
}
.chat__left .left-chat__themes .themes-chat__list {
  margin-top: 12px;
}
.chat__left .left-chat__themes .themes-chat__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 11px 10px 16px;
  cursor: pointer;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 16px;
}
.chat__left .left-chat__themes .themes-chat__item_active {
  background-color: #8b99ca;
  color: #fff;
}
.chat__left .left-chat__themes .themes-chat__item + .themes-chat__item {
  border-top: 1px solid #e3e4eb;
}
.chat__left .left-chat__themes .themes-chat__notifications {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #ff940d;
  padding-top: 2px;
}
.chat__author {
  padding-top: 24px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  grid-area: author;
}
.chat__author .popup__close {
  font-size: 17px;
  color: #000;
  opacity: 0.3;
  padding: 10px;
  top: 10px;
  right: 20px;
  cursor: pointer;
  position: absolute;
}
.chat__author .popup__close:hover {
  opacity: 0.7;
}
.chat__author .author-chat {
  position: relative;
}
.chat__author .author-chat__avatar {
  display: none;
}
.chat__author .author-chat__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2c2c2c;
  padding-left: 15px;
}
.chat__messages {
  background-color: #fff;
  border-radius: 4px;
  padding: 13px 15px 45px 15px;
  grid-area: messages;
}
.chat__messages .messages-chat__list {
  overflow: auto;
  max-height: 450px;
}
.chat__messages .messages-chat__item + .messages-chat__item {
  margin-top: 20px;
}
.chat__messages .messages-chat__item_admin {
  display: flex;
  align-items: flex-start;
  gap: 0 6px;
}
.chat__messages .messages-chat__item .admin-message__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.chat__messages .messages-chat__item .admin-message__body {
  padding: 12px 20px;
  background-color: #e3e4eb;
  color: #2c2c2c;
  border-radius: 0px 24px 24px 24px;
}
.chat__messages .messages-chat__item .admin-message__title {
  font-size: 16px;
  line-height: 19px;
}
.chat__messages .messages-chat__item .admin-message__text,
.chat__messages .messages-chat__item .admin-message__date {
  font-family: Lato, sans-serif;
}
.chat__messages .messages-chat__item .admin-message__text {
  margin-top: 13px;
  font-size: 14px;
  line-height: 17px;
}
.chat__messages .messages-chat__item .admin-message__image {
  margin-top: 13px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.chat__messages .messages-chat__item .admin-message__date {
  display: block;
  margin-top: 13px;
  font-size: 12px;
  line-height: 14px;
  color: #666;
}
.chat__messages .messages-chat__item_user {
  margin-left: 38px;
}
.chat__messages .messages-chat__item .user-message__body {
  padding: 12px 20px;
  background-color: #36467e;
  border-radius: 24px 0px 24px 24px;
  color: #fff;
  font-family: Lato, sans-serif;
}
.chat__messages .messages-chat__item .user-message__subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}
.chat__messages .messages-chat__item .user-message__text {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  margin-top: 13px;
}
.chat__messages .messages-chat__item .user-message__date {
  font-size: 12px;
  line-height: 14px;
  margin-top: 13px;
  display: block;
}
.chat__send {
  background-color: #fff;
  border-radius: 7px 7px 0 0;
  padding: 24px 20px 17px 25px;
  grid-area: chat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
}
.chat__send .send-chat__textarea {
  border: none;
  resize: none;
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 17px;
  color: #2c2c2c;
}
.chat__send .send-chat__textarea:focus-visible {
  outline: none;
}
.chat__send .send-chat__textarea::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #99a5b1;
}
.chat__send .send-chat__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  background: #00c3bc;
  border-radius: 4px;
  width: 152px;
  height: 40px;
  cursor: pointer;
}
.chat__send .send-chat__button-image {
  margin-left: 15px;
}

.rocket-popup {
  padding-top: 20px;
  background-color: #e5e5e5;
}
.rocket-popup__body {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}
.rocket-popup__body_discount .rocket-popup__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-top: 15px;
}
.rocket-popup__body_discount .rocket-popup__text_premium {
  color: #ff940d;
}
.rocket-popup__body_balloon .rocket-popup__premium {
  color: #ff940d;
}
.rocket-popup__close {
  position: absolute;
  right: 0;
  top: 0;
}
.rocket-popup__image {
  margin-bottom: -15px;
  width: 100%;
}
.rocket-popup__heading {
  text-align: center;
  color: #36467e;
  padding: 31px 55px 0 55px;
  background-color: #fff;
}
.rocket-popup__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}
.rocket-popup__text {
  font-size: 20px;
  line-height: 23px;
  margin-top: 12px;
}
.rocket-popup__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  padding: 40px 57px 30px 57px;
  gap: 12px 30px;
  background-color: #fff;
}
.rocket-popup__buttons .button-rocket__premium,
.rocket-popup__buttons .button-rocket__beginner {
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.rocket-popup__buttons .button-rocket__premium {
  background-color: #ff940d;
  color: #fff;
}
.rocket-popup__buttons .button-rocket__beginner {
  color: #ff940d;
  border: 1px solid #ff940d;
  background-color: #fff;
}
.rocket-popup__socials {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding-top: 38px;
  padding-bottom: 45px;
}
.rocket-popup__socials .social-rocket__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 140px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .results__inner {
    box-shadow: none;
  }
}
@media screen and (max-width: 1200px) {
  .tests_light-blue .content__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .results {
    padding-bottom: 0;
  }
  .results__inner {
    padding-bottom: 0;
  }
  .results .level__title {
    display: none;
  }
  .results .level .bars {
    margin: 0;
  }
  .results .award .award-top {
    grid-template-areas: "icon text" "button button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 22px 18px;
  }
  .results .award .award-top__left .left-top__image {
    width: 100px;
    margin-left: auto;
    margin-right: 10px;
  }
  .results .award .award-right__knowledge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .results .award .award-right__knowledge.knowledge .knowledge__text {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .results .award .award-right__knowledge.knowledge .knowledge__title {
    margin-top: 6px;
  }
  .results .award .award-right__knowledge.knowledge .knowledge__level {
    margin-left: 0;
    margin-top: 6px;
  }
  .results .award .award-right__start {
    margin: 0 auto;
  }

  .answers {
    max-width: none;
    margin-top: 37px;
  }
  .answers__item + .answers__item {
    margin-top: 25px;
  }
  .answers .item__status {
    padding-top: 42px;
  }
  .answers .item::before {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 13.8462px;
    line-height: 16px;
    color: #7b7b7b;
  }

  .article__inner {
    flex-direction: column;
    align-items: center;
  }

  .tests_dark-blue .tests__wrap {
    border-radius: 0;
  }
  .tests_dark-blue .tests__body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "title" "count" "text" "content" "answers";
  }
  .tests_dark-blue .tests__title,
  .tests_dark-blue .tests__text {
    text-align: center;
    padding-left: 0;
  }
  .tests_dark-blue .tests__content {
    padding-bottom: 36px;
  }
  .tests_dark-blue .tests__count {
    padding-top: 25px;
    padding-right: 0;
    justify-content: center;
    background-color: #f7faff;
  }
  .tests_dark-blue .tests__answers {
    margin-top: 25px;
    margin-left: 0;
    padding-right: 30px;
    padding-left: 30px;
  }
  .tests_results .tests__heading {
    border-bottom: 0;
    flex-direction: column;
    padding-bottom: 0;
  }
  .tests_results .tests__count {
    margin-top: 32px;
  }
  .tests_levels ._container {
    padding: 0;
  }
  .tests_levels .tests__status .status__title {
    display: none;
  }
  .tests_levels .tests__title {
    font-size: 16px;
    line-height: 19px;
  }
  .tests_levels .tests__subtitle {
    text-align: center;
  }
  .tests_levels .tests__wrapper {
    grid-template-columns: 1fr;
  }
  .tests_levels .tests__left.left-test {
    background-color: transparent;
  }
  .tests_levels .tests__right .right-test__next {
    margin-top: 27px;
  }

  .completed__body._container {
    padding: 0;
  }
  .completed__heading {
    justify-content: center;
  }
  .completed__heading .heading-completed__wrapper {
    flex: 0 0 200px;
  }
  .completed__back {
    display: none;
  }
  .completed__section {
    padding-bottom: 0;
  }
  .completed__section .section-completed__list {
    overflow: auto;
    padding-bottom: 20px;
  }
  .completed__section .section-completed__item {
    margin: 0 6px;
  }
  .completed__section .section-completed__item_current {
    padding: 3.5px 6px;
    border-radius: 18px;
    background-color: #f7faff;
    font-weight: 500;
    color: #5c5c5c;
  }
  .completed__results {
    justify-content: center;
  }
  .completed__results .results-completed__list {
    flex-direction: column;
    align-items: center;
  }
  .completed__results .results-completed__list_achievement {
    padding-bottom: 26px;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
    column-gap: 41px;
    min-width: 250px;
  }
  .completed__results
    .results-completed__list_achievement
    .results-completed__item_achievement:nth-child(1) {
    order: 4;
  }
  .completed__results .results-completed__item {
    padding: 12px 0;
  }
  .completed__results .results-completed__item + .results-completed__item {
    border-left: none;
  }
  .completed__results .results-completed__item_achievement {
    max-width: 140px;
  }
  .completed__results .results-completed__line {
    height: 1px;
    width: 45px;
    background-color: #b9d2ff;
  }
  .completed__buttons {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: none;
  }
  .completed__buttons .buttons-completed__repeat,
  .completed__buttons .buttons-completed__next,
  .completed__buttons .buttons-completed__autonext {
    grid-area: auto;
  }
  .completed__buttons .buttons-completed__next {
    margin: 7px auto 0 auto;
    max-width: 290px;
    width: 100%;
    padding: 0;
  }
  .completed__buttons .buttons-completed__repeat {
    justify-content: center;
  }
  .completed__buttons .buttons-completed__autonext {
    text-align: center;
    margin-top: 11px;
  }
  .completed__buttons.buttons-completed_premium {
    justify-content: center;
  }
  .completed__buttons.buttons-completed_premium .buttons-completed__repeat {
    display: none;
  }
  .completed__buttons.buttons-completed_premium
    .buttons-completed__transparent {
    display: none;
  }
  .completed__buttons.buttons-completed_premium .button_premium {
    width: 290px;
  }
  .completed .completed-slick .slick-track {
    column-gap: 0px;
  }

  .chat__body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: none;
    padding-left: 15px;
  }
  .chat__left,
  .chat__author,
  .chat__messages,
  .chat__send {
    grid-area: auto;
  }
  .chat__left {
    padding: 25px 0;
  }
  .chat__left .left-chat__subtitle {
    text-align: center;
  }
  .chat__author {
    background-color: transparent;
    display: flex;
    align-items: center;
  }
  .chat__author .author-chat__avatar {
    display: block;
  }
  .chat__author .author-chat__name {
    padding-left: 0;
    margin-left: 6px;
  }
  .chat__messages {
    padding: 13px 0 45px 0;
    background-color: transparent;
  }
  .chat__messages .messages-chat__item .admin-message__avatar {
    display: none;
  }
  .chat__messages .messages-chat__item.user-message {
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  ._container {
    max-width: 450px;
  }

  .results__title {
    font-size: 16px;
  }
  .results .level__title {
    display: none;
  }
  .results .award .award-top {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "icon text" "button button";
    gap: 22px 18px;
  }
  .results .award .award__body {
    font-size: 14px;
    line-height: 120%;
  }

  .answers__inner._container {
    padding: 0 15px;
  }
  .answers__item .item__status .answer__text {
    font-size: 18px;
    line-height: 130%;
  }
  .answers__item .item__status__heading {
    justify-content: space-between;
  }
  .answers__item .item__status_correct {
    padding-top: 12px;
  }
  .answers__item .item__status_correct .item__status__heading {
    margin-top: 25px;
  }

  .tests__inner._container {
    padding: 0;
  }
  .tests_light-blue .tests._container {
    padding: 0;
  }
  .tests_light-blue .tests__heading {
    flex-direction: column;
    gap: 18px 0;
  }
  .tests_light-blue .tests__title {
    font-size: 15px;
    line-height: 20px;
  }
  .tests_light-blue .content .variants__item {
    flex: 1 1 100%;
  }
  .tests_light-blue .content__source {
    width: 240px;
  }
  .tests_dark-blue .tests__title {
    font-size: 16px;
    line-height: 19px;
  }
  .tests_results .tests__body {
    border-radius: 0;
  }
  .tests_results .tests__title {
    font-size: 16px;
    line-height: 19px;
  }
  .tests_results .tests__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
  .tests_results .tests__verdict {
    font-size: 16px;
    line-height: 130%;
  }
  .tests_results .tests__about {
    font-size: 14px;
    line-height: 120%;
  }

  .completed__section .section-completed__item {
    font-size: 13px;
    line-height: 15px;
  }
  .completed__heading .heading-completed__wrapper {
    margin: 0;
  }
  .completed__heading .heading-completed__title {
    font-size: 18px;
    line-height: 21px;
  }
  .completed-main {
    padding-bottom: 30px;
  }
  .completed__buttons .buttons-completed__like {
    font-size: 14px;
    line-height: 16px;
  }
  .completed__button_premium {
    font-size: 14px;
    line-height: 16px;
  }
  .completed__results {
    margin-top: 30px;
  }
  .completed__results .results-completed__list_achievement {
    column-gap: 10px;
  }
  .completed__results .results-completed__item_achievement {
    flex: 0 0 140px;
  }
  .completed__results .results-completed__achievement {
    width: 58px;
    left: calc(50% - 29px);
  }
  .completed__results .results-completed__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .completed__results .results-completed__subtitle_achievement {
    font-size: 11px;
    line-height: 13px;
  }
  .completed__results .results-completed__text {
    font-weight: normal;
  }

  .chat ._container {
    padding: 0;
  }
  .chat__body {
    margin-right: 0;
  }
  .chat__send {
    gap: 0 7px;
  }
  .chat__send .send-chat__textarea {
    border: 1px solid #d3d5da;
    padding-top: 5px;
    border-radius: 2px;
  }
  .chat__send .send-chat__button {
    width: 40px;
    height: 40px;
  }
  .chat__send .send-chat__button-text {
    display: none;
  }
  .chat__send .send-chat__button-image {
    margin-left: 0;
  }

  .rocket-popup__inner._container {
    padding: 0;
  }
  .rocket-popup__body_discount .rocket-popup__text {
    font-size: 14px;
    line-height: 16px;
  }
  .rocket-popup__body_social .rocket-popup__text {
    margin-top: 8px;
    font-weight: bold;
  }
  .rocket-popup__body_balloon_social .rocket-popup__text {
    font-weight: normal;
  }
  .rocket-popup__close {
    top: -20px;
  }
  .rocket-popup__heading {
    padding: 31px 15px 0 15px;
  }
  .rocket-popup__title {
    font-size: 18px;
    line-height: 21px;
  }
  .rocket-popup__text {
    font-size: 14px;
    line-height: 16px;
  }
  .rocket-popup__buttons {
    padding: 24px 15px 30px 15px;
  }
  .rocket-popup__buttons .button-rocket__premium,
  .rocket-popup__buttons .button-rocket__beginner {
    font-size: 16px;
    line-height: 19px;
  }
  .rocket-popup__socials {
    padding-top: 24px;
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
/*05.09.2021*/
.active-slide {
  display: block;
  width: 100%;
  height: 100%;
}
