:root {
  scrollbar-width: thin !important;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

a:active,
a:focus {
  border: none;
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.woff") format("woff"),
    url("../../fonts/Lato-Regular.woff") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Bold.woff") format("woff"),
    url("../../fonts/Lato-Bold.woff") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff") format("woff"),
    url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.woff") format("woff"),
    url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.woff") format("woff"),
    url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

img {
  max-width: none;
}

main {
  font-family: Roboto, sans-serif;
}

.button {
  background-color: #ff9900;
  width: 220px;
  height: 49px;
  border: none;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.tests_light-blue {
  padding: 42px 0;
  background-color: #f7faff;
}
.tests_light-blue .tests__body {
  background-color: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
  padding: 28px 25px;
}
.tests_light-blue .tests__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #e3e4eb;
}
.tests_light-blue .tests__title {
  color: #36467e;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.tests_light-blue .count-test {
  color: #8b99ca;
  display: flex;
  align-items: center;
}
.tests_light-blue .count-test__current {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ff940d;
  margin-left: 12px;
}

.tests_light-blue .content {
  margin-top: 28px;
}
.tests_light-blue .content__wrapper {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-top: 28px;
}
.tests_light-blue .content .variants__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 41px 25px;
  max-width: 540px;
  margin: 0 auto;
}
.tests_light-blue .content .variants__item {
  border: 1px solid #e3e4eb;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 8px 25px;
  flex: 1 1 calc(50% - 30px);
  transition: 0.35s box-shadow, 0.35s color;
  user-select: none;
}
.tests_light-blue .content .variants__item:hover {
  color: #00c3bc;
  box-shadow: 0px 0px 8px rgba(54, 70, 126, 0.13);
}
.tests_dark-blue {
  padding: 42px 0;
  background-color: #8b99ca;
  position: absolute;
  display: none;
}
.tests_dark-blue .tests__wrap {
  background-color: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
}
.tests_dark-blue .tests__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "title count" "text count" "content answers";
  position: relative;
  z-index: 1;
}
.tests_dark-blue .tests__title,
.tests_dark-blue .tests__text,
.tests_dark-blue .tests__content {
  background-color: #f7faff;
}
.tests_dark-blue .tests__title {
  grid-area: title;
  padding: 30px 0 0 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #36467e;
  text-transform: uppercase;
}
.tests_dark-blue .tests__text {
  grid-area: text;
  padding: 11px 0 0 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.tests_dark-blue .tests__content {
  grid-area: content;
  padding: 49px 0 65px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tests_dark-blue .tests__content .content__text {
  font-size: 24px;
  line-height: 28px;
}
.tests_dark-blue .tests__count {
  grid-area: count;
  color: #8b99ca;
  padding-right: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.tests_dark-blue .tests__count .count__current {
  margin-left: 13px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ff940d;
}
.tests_dark-blue .tests__count .count__total {
  font-size: 16px;
  line-height: 19px;
}
.tests_dark-blue .tests__answers {
  grid-area: answers;
  padding-top: 30px;
  margin-left: 43px;
  padding-right: 42px;
  padding-bottom: 65px;
}

.tests_dark-blue .tests__answers .answers-test__item {
  padding: 8px 25px;
  background: #fff;
  border: 1px solid #e3e4eb;
  border-radius: 2px;
  transition: 0.35s box-shadow, 0.35s color;
  user-select: none;
}
.tests_dark-blue .tests__answers .answers-test__item + .answers-test__item {
  margin-top: 12px;
}
.tests_dark-blue .tests__answers .answers-test__item:hover {
  box-shadow: 0px 0px 8px rgba(54, 70, 126, 0.13);
  color: #00c3bc;
}
.tests_results {
  background-color: #8b99ca;
}
.tests_results .tests__wrap {
  margin-top: 42px;
  padding-bottom: 42px;
}
.tests_results .tests__body {
  background: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
  padding: 25px;
}
.tests_results .tests__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #e3e4eb;
}
.tests_results .tests__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #36467e;
}
.tests_results .tests__count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8b99ca;
}
.tests_results .tests__count .count__text {
  font-size: 18px;
  line-height: 21px;
}
.tests_results .tests__count .count__current {
  margin-left: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ff940d;
}
.tests_results .tests__count .count__total {
  font-size: 16px;
  line-height: 19px;
  margin-left: 2px;
}
.tests_results .tests__content {
  padding-top: 27px;
  text-align: center;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}
.tests_results .tests__subtitle {
  font-weight: 500;
  display: block;
}
.tests_results .tests__results {
  display: block;
  margin-top: 12px;
}
.tests_results .tests__correct {
  color: #ff940d;
}
.tests_results .tests__total {
  color: #ff940d;
}
.tests_results .tests__verdict {
  font-weight: 500;
  display: block;
  margin-top: 25px;
}
.tests_results .tests__verdict .verdict__color {
  color: #ff940d;
}
.tests_results .tests__about {
  max-width: 440px;
  color: #5c5c5c;
  margin: 12px auto 0 auto;
}
.tests_results .tests__button {
  margin-top: 25px;
}
.tests_levels {
  margin: 50px 0;
}
.tests_levels .tests__wrap {
  background: #fff;
  box-shadow: 0px 0px 13px rgba(54, 70, 126, 0.13);
  border-radius: 5px;
  padding: 25px;
}
.tests_levels .tests__heading {
  text-align: center;
}
.tests_levels .tests__title {
  font-size: 24px;
  line-height: 28px;
  color: #36467e;
  text-transform: uppercase;
}
.tests_levels .tests__status {
  margin-top: 30px;
}

.tests_levels .tests__content {
  margin-top: 40px;
}
.tests_levels .tests__subtitle {
  font-size: 18px;
  line-height: 21px;
}
.tests_levels .tests__wrapper {
  display: grid;
  grid-template-columns: minmax(330px, auto) minmax(245px, auto);
  margin-top: 22px;
  gap: 15px 35px;
}
.tests_levels .tests__left.left-test {
  background-color: #f7faff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tests_levels .tests__right .right-test__item {
  padding: 15px 25px;
  border: 1px solid #e3e4eb;
  border-radius: 2px;
  transition: color 0.35s, 0.35s box-shadow;
}
.tests_levels .tests__right .right-test__item + .right-test__item {
  margin-top: 12px;
}
.tests_levels .tests__right .right-test__item:hover {
  color: #00c3bc;
  box-shadow: 0px 0px 8px rgba(54, 70, 126, 0.13);
}
.tests_levels .tests__right .right-test__next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 90px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}
.tests_levels .tests__right .right-test__next .next-test__text {
  color: #00c3bc;
}
.tests_levels .tests__right .right-test__next .next-test__arrow {
  margin-left: 10px;
}
.tests__content .content__video {
  max-width: 280px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
/*05.09.2021*/
.active-slide {
  display: block;
  width: 100%;
  height: 100%;
}
